.wrapper {
    position: relative;
    & input {
        @media (max-width: 480px) {
            font-size: 24px;
        }
    }
}
.dropDown {
    z-index: 100;
    position: absolute;
    width: 100%;
    overflow: hidden;
    background-color: white;
    &_row {
        overflow: hidden;
        cursor: pointer;
        transition: var(--transition-default);
        &::before,
        &::after {
            content: none;
        }
        &:hover {
            background-color: rgba(128, 128, 128, 0.2) !important;
        }
    }
    &_container {
        overflow: hidden;
        position: relative;
        & img {
            object-fit: cover;
            z-index: -10;
            height: 200% !important;
            width: 50% !important;
        }
        & p {
            text-shadow: 0px 0px 2px #ffffff;
            color: rgb(0, 0, 0);
            // mix-blend-mode: difference;
            text-transform: uppercase;
            text-align: center;
            font-size: 56px;
            font-family: "Black";
            z-index: 50;
            @media (max-width: 480px) {
                font-size: calc(56px / 1.5);
            }
        }
    }
}
