.wrapper {
    text-align: left;
    cursor: pointer;
    min-height: 260px;
    width: 100%;
    color: black;
    text-decoration: none;
    transform-style: preserve-3d;
    transform: perspective(1000px);
    perspective: 1000px;
    &::before,
    &::after {
        content: none;
    }
    & div {
        transition: 0.2s ease;
        width: 100%;
        height: 100%;
        transform-style: preserve-3d;
        position: relative;
        & .container {
            min-width: 100%;
            max-height: 180px;
            height: 100%;
            position: relative;
            & img {
                left: 20% !important;
                right: 100% !important;
                width: 80% !important;
                object-fit: cover;
            }
        }
        & h2 {
            // mix-blend-mode: difference;

            text-shadow: 0px 0px 1px #ffffff;
            // color: white;

            z-index: 80;
            position: absolute;
            top: 50%;
            left: 2%;
            transform: translateZ(40px) translateX(-0%) translateY(-50%);
            font-size: 72px;
            font-family: "Black";
            text-transform: uppercase;
            @media (max-width: 480px) {
                font-size: calc(72px / 1.5);
            }
        }
        & p {
            transform: translateZ(-20px) translateX(-9px);
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }
    }
}
